body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
}

img {
    max-width: 100%;
    height: auto;
}
